@keyframes openMenu{
    0%{
        visibility: visible;
    }
    1%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes closeMenu{
    0%{
        transform: translateX(0);
    }
    99%{
        transform: translateX(100%);
    }
    100%{
        visibility: hidden;
    }
}


@keyframes showOverlay{
    0%{
        opacity: 0%;
        visibility: visible;
    }
    1%{
        opacity: 0%;
    }
    100%{
        opacity: 50%;
        visibility: visible;
    }
}

@keyframes hideOverlay{
    0%{
        opacity: 50%;
        visibility: visible;
    }
    99%{
        opacity: 0%;
        
    }
    100%{
        opacity: 0%;
        visibility: hidden;
    }
}