//Font Sizes
$fontSizeBody: 0.9375rem;
$fontSizeArticleHeader: 1.25rem;

//Font Weights
$fwRegular: 400;
$fwBold: 700;
$fwExtrabold: 800;

//Color
$colorGunmental: #5E607A;
$colorLightVermillion: #F15D51;
$colorAlmostWhite: #FFFDFA;
$colorDarkSpaceBlue: #00001A;
$colorSilver: #C5C6CE;
$colorYellow: #E9AA52;
